<div class="container">
  <div class="row">
      <div class="col">
          <table class="table table-striped table-bordered">
              <thead class="thead">
                 <tr>
                    <th>Partido</th>
                    <th>Nombre equipo</th>
                    <th>Goles</th>
                 </tr>
              </thead>
              <tbody>
                
                <tr class="bg-light-gray" *ngFor="let partido of partidos">
                  <td *ngIf="partido.home_team.goals">
                      {{ partido.attendance}}
                  </td>
                <td *ngIf="partido.home_team.goals">
                  {{ partido.home_team.name }}
              </td>
              <td *ngIf="partido.home_team.goals">
                {{ partido.home_team.goals }}
            </td>

                </tr>
              </tbody>
          </table>
      </div>
  </div>
