<div class="container-fluid">
  <p class="h3 p-3">{{ equipoDetail.name }}</p>
  <div class="row">
    <div class="col">
      <dl>
        <dt>Puntos del grupo</dt>
        <dd>{{ equipoDetail.group_points }}</dd>
        <hr />
        <dt>Juegos disputadoss</dt>
        <dd>{{ equipoDetail.games_played }}</dd>
        <hr />
        <dt>Goles en contra</dt>
        <dd>{{ equipoDetail.goals_against }}</dd>
        <hr />
        <dt>Goles a favor</dt>
        <dd>{{ equipoDetail.goals_for }}</dd>
        <hr />
        <dt>Juegos perdidos</dt>
        <dd>{{ equipoDetail.losses }}</dd>
        <hr />
        <dt>Juegos ganados</dt>
        <dd>{{ equipoDetail.wins }}</dd>
        <hr />
      </dl>
    </div>
  </div>
 </div>
